<div id="alertPopup" class="modal fade modal-alert" role="dialog" style="z-index: 1555;">
  <div class="modal-dialog modal-dialog-centered">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color: #30e958;">
        <h5 translate class="modal-title">
        </h5>
        <button translate type="button" style="color:#deec1a" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div translate class="modal-body py-4 text-center" style="color:#161614">
      </div>
      <div class="modal-footer">
        <button translate type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
