<!-- <footer class="bt-footer container-fluid">
  <div class="main-footer row container-fluid">
      <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
      <a translate href="#">Terms and Conditions</a>
      <a translate href="#">Contact Us</a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <span translate>All rights reserved to TBC</span>
      </div>
  </div>
</footer> -->
<!-- Footer -->
<footer class="page-footer font-small blue " style="
position: fixed;
left: 0;
bottom: 0;
width: 100%;
">

  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Copyright © 2020 Website.com Solutions Inc. All Rights Reserved. All other trademarks and copyrights are the property of their respective holders.

  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
