<app-sub-header></app-sub-header>

<body>


  <!--============= Product Details Section Starts Here =============-->
  <section class="product-details">
    <div class="container">
      <div class="product-details-slider-top-wrapper " style="margin-top: 20px;">
        <div class="product-details-slider owl-theme owl-carousel" id="sync1">
          <div class="slide-top-item">
            <div class="slide-inner">
              <img src="https://th.bing.com/th/id/OIP.W6cSifG9VjQr6BO-bFmNIwHaEo?pid=Api&rs=1" alt="product">
            </div>
          </div>

        </div>
      </div>

      <div class="row mt-40-60-80">
        <div class="col-lg-8">
          <div class="product-details-content">
            <div class="product-details-header">
              <h2 class="title">{{tender.title}}</h2>
              <ul>
                <li>Listing ID: {{tender.id}}</li>
                <li>Initital Price : {{tender.bidding.inititalBid}}</li>
              </ul>
            </div>
            <ul class="price-table mb-30">
              <li class="header">
                <h5 class="current">Current Price</h5>
                <h3 class="price">{{tender.bidding.finalBid||0}}</h3>
              </li>
              <li>
                <span class="details">Buyer's Premium</span>
                <h5 class="info">10.00%</h5>
              </li>
              <li>
                <span class="details">Bid Increment (RS)</span>
                <h5 class="info">50000.00</h5>
              </li>
            </ul>
            <div class="product-bid-area">
              <form class="product-bid-form">
                <div class="search-icon">
                  <img src="http://pixner.net/sbidu/main/assets/images/product/search-icon.png" alt="product">
                </div>
                <input type="text" [(ngModel)]=tempBid placeholder="Enter you bid amount" name="tempBid">
                <button (click)=postBid() class="custom-button">Submit a bid</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="product-sidebar-area">
            <div class="product-single-sidebar mb-3">
              <h6 class="title">This Auction Ends in:</h6>
              <div class="countdown">
                <countdown [config]="{leftTime: sec}"></countdown>
              </div>
              <div class="side-counter-area">
                <div class="side-counter-item">
                  <div class="thumb">
                    <img src="http://pixner.net/sbidu/main/assets/images/product/icon1.png" alt="product">
                  </div>
                  <div class="content">
                    <h3 class="count-title"><span class="counter">1</span></h3>
                    <p>Active Bidders</p>
                  </div>
                </div>
                <div class="side-counter-item">
                  <div class="thumb">
                    <img src="http://pixner.net/sbidu/main/assets/images/product/icon2.png" alt="product">
                  </div>
                  <div class="content">
                    <h3 class="count-title"><span class="counter">1</span></h3>
                    <p>Watching</p>
                  </div>
                </div>
                <div class="side-counter-item">
                  <div class="thumb">
                    <img src="http://pixner.net/sbidu/main/assets/images/product/icon3.png" alt="product">
                  </div>
                  <div class="content">
                    <h3 class="count-title"><span class="counter">1</span></h3>
                    <p>Total Bids</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-tab-menu-area mb-40-60 mt-70-100">
      <div class="container">
        <ul class="product-tab-menu nav nav-tabs">
          <li>
            <a href="#details" class="active" data-toggle="tab">
              <div class="thumb">
                <img src="http://pixner.net/sbidu/main/assets/images/product/tab1.png" alt="product">
              </div>
              <div class="content">{{tender.description}}</div>
            </a>
          </li>

        </ul>
      </div>
    </div>



  </section>
  <!--============= Product Details Section Ends Here =============-->
</body>
<ngx-ui-loader></ngx-ui-loader>
<app-alert-popup></app-alert-popup>
