<nav class="navbar navbar-expand-lg navbar-dark  bg-dark">
  <a *ngIf='loggedin && !isAdmin' class="navbar-brand" routerLink='/dashboard'>Tender Plus +</a>
  <a *ngIf=!loggedin class="navbar-brand" routerLink='/home'>Tender Plus +</a>
  <a *ngIf=isAdmin class="navbar-brand"   routerLink='/admin'>Tender Plus +</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink='/about-us'>About us</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">

      <div class="container">
        <button *ngIf=!loggedin class="btn btn-outline-success my-2 my-sm-0" type="submit"
          routerLink='/register'>Register</button>
        <button *ngIf=!loggedin class="btn btn-outline-success my-2 my-sm-0" type="submit"
          routerLink='/login'>login</button>
      </div>
      <div class="container">
        <button *ngIf=isAdmin class="btn btn-outline-success my-2 my-sm-0" type="submit"
        routerLink='/register'>Create Admin User</button>
        <button *ngIf=isAdmin class="btn btn-outline-success my-2 my-sm-0" type="submit"
        routerLink='/createbidding'>Create Tender</button>
        <button *ngIf=loggedin class="btn btn-outline-success my-2 my-sm-0" type="submit"
        (click)='logout()'>logout</button>
      </div>

    </form>
  </div>
</nav>
